@charset 'utf-8';

*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    overflow-wrap: normal;
    font-family: 'Noto Serif JP', serif;
}

@keyframes SlideIn{
    0%{
        opacity: 0;
        transform: translateY(-64px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shape1{
    0%, 100% {
        border-radius:70% 30% 70% 30% / 30% 54% 46% 70% ;
    }
    10% {
        border-radius: 83% 17% 70% 30% / 42% 71% 29% 58% ;
    }
    20% {
        border-radius:49% 51% 9% 91% / 64% 68% 32% 36% ;
    }
    30% {
        border-radius: 22% 78% 52% 48% / 78% 44% 56% 22% ;
    }
    40% {
        border-radius:52% 48% 79% 21% / 26% 23% 77% 74% ;
    }
    50% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    60% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    70% {
        border-radius: 50% 38% 50% 62%/35% 61% 56% 65%;
    }
    80% {
        border-radius: 20% 39% 50% 70%/45% 71% 29% 45%;
    }
    90% {
        border-radius: 60% 43% 55% 70%/35% 61% 49% 55%;
    }

          
    }         

.wrapper{
    overflow: hidden;
}


.title{
    font-size:3.75rem ;
    margin-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h3{
    font-size: 3.125rem;
}

video{
    height: 400px;
    width: 400px;
}

.video{
    border: none;
}

.gray{
    background-color: #83868E;
    color: #fff;
}

.flex{
    display: flex;
}


.padding_wrapper{
    padding: 0 5rem;
    max-width: 1100px;
    margin: 0 auto;
}

.padding_wrapper_head{
    padding: 0 10%;
}

.top_visual{
    height: 100vh;
    background-position: center ;
    position: relative;
    animation: SlideIn 1.6s;
}


header{
    width: 100%;
    padding-top: 1.5rem;
    justify-content: space-between;
}

header h1{
    font-size: 5.5rem;
}

nav{
    padding-top: 2rem;
}

nav li{
    width: 100%;
    padding-right: 2rem;
    font-size: 3rem;
}



nav li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 5px;
}

nav li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 50%;
    background:#fff;
    transition: all .3s ;
    transform: scale(0.04,1);
    transform-origin: center bottom;
}

nav li a:hover::after{
    height: 2px;
    border-radius: 0;
    transform: scale(0.8,1);
}





.shape{
    width: 600px;
    height: 600px;
    background-color: #B9D4FC;
    margin: 0 auto;
    margin-top: 10vh;
    border-radius: 50%;
    animation: shape1 60s ease 0s infinite;
    position: relative;
}

.main_title{
    /* display: block;
    height: 100vh;
    padding-top:25%;
    margin-left: 20%; */
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 8rem;
    line-height: 1.25;
    text-shadow:#00169f 0.6rem 0;
    max-width: 1500px;
    text-align: center;
}

.kaisei{
    top: 30%;
    left: -10%;
}


.scroll-btn{
    width: 100%;
    transform: translateX(-5%);
    position: absolute;
    bottom: 0;
}

/* ====================================================
-about

========================================================*/
.about{
    margin: 0 auto;
    margin-top: 8rem;
    position: relative;
}


.about_content{
    display: flex;
    padding: 0 3rem;
}

.about_content p,dd{
    font-size: 1.125rem;
}

.profile{
    margin-right: 1.75rem;
}

.profile p{
    font-size: 1.25rem;
    padding-bottom: 2rem;
    line-height: 2;
}

.name{
    padding-bottom: 2rem;
}

.history{
    padding-top: 2rem;
    line-height: 2;
}

.year{
    font-size: 1.5rem;
}

dl{
    border-left: 1px solid #000;
    margin-bottom: 3rem;
    padding-left: 1.5rem;
}

dt{
    white-space: nowrap;
    padding-right: 1.25rem;
}
/* ====================================================
-skill
========================================================*/
.skill{
    margin-top: 8rem;
    padding:6rem 0;
}

.skill_contents{
    width: 100%;
    margin: 0 auto;
}

.skill_content{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.skill_name{
    justify-content: center;
}

.skill_content p{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.skill_content img{
    padding-bottom: 1.5rem;
}


.class_time{
    font-size: 2.5rem;
    font-weight: bold;
}

.skill_name p{
    font-size: 3rem;
    padding-right: 1rem;
    font-weight: bold;
}

.skill_icon{
    width: 78px;
    height: 100px;
}


.faderight{
    animation-name:fadeRightAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeRightAnime{
    from {
      opacity: 0;
    transform: translateX(400px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }


  .fadeleft{
    animation-name:fadeLeftAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeLeftAnime{
    from {
      opacity: 0;
    transform: translateX(-100px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }



/* ====================================================
-works
========================================================*/
.works{
    padding-bottom: 8rem;
}

.works_contents{
    grid-gap: 3rem;
    column-gap: 5rem;
}

figure{
    border: 1px solid #000;
    width: 400px;
    height: 400px;
}
/* ====================================================
-contact
========================================================*/
.contact{
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.contact_contents{
    text-align: center;
}

.contact_contents p{
    font-size: 1.5rem;
}

.contact_contents p:nth-child(2){
    font-size: 2.5rem;
}


.contact_content{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 2rem 0;
    margin-bottom: 3rem;
}

.mailadress{
    padding-right: 4rem;
}

/* ====================================================
-footer
========================================================*/
footer{
    text-align: center;
    padding: 2rem 0;
}


/* ====================================================
-sp
========================================================*/
@media(max-width:768px){
    .grid{
        grid-template-columns: 1fr;
    }

    .flex{
        flex-direction:column;
    }

    p{
        font-size: 0.5rem;
    }

    h3{
        font-size: 2.5rem;
    }

    .padding_wrapper{
        padding: 0 1rem;
    }

    .padding_wrapper_head{
        padding: 0 0.25rem;
    }


    header{
        text-align: center;
    }

    header h1{
        font-size: 3rem;
    }


    .nav{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0.5rem;
    }

    nav{
        padding-top: 0;
    }


    nav ul{
        justify-content: space-between;
    }

    nav li{
        width: 100%;
        padding-left: 0;
        padding-top: 0;
        font-size: 1.5rem;
    }

    nav li:last-of-type{
        padding: 0;
    }
    
    
    
    nav li a{
        text-decoration: none;
        color: #fff;
        position: relative;
        padding-bottom: 5px;
    }
    

    .main_title{
        font-size: 4rem;
        left: 20%;
    }


    .kaisei{
        padding-right: 1rem;
        left: 0;
    }


    .shape{
        height: 50%;
        width: 90%;
    }


    .scroll-btn {
        text-align: center;
    }


    .about_content{
        width: 100%;
        padding: 0;
    }
    

    .skill_contents{
        margin: 0;
    }


    .skill_flex{
        margin: 0 auto;
    }

    .skill_icon{
        width:  15%;
        height: auto;
        margin: 0 auto;
    }

    .skill_content{
        font-size: 3rem;
        text-align: center;
    }

    .skill_name p{
        font-size: 2.5rem;
        padding-right: 1rem;
        font-weight: bold;
    }    

    figure{
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .video{
        position: relative;
        border: none;
        height: 300px;
    }

    .video video{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }


    .contact_contents{
        text-align: start;
    }

    .contact_contents p{
        font-size: 1.25rem;
    }
    
    .contact_contents p:nth-child(2){
        font-size: 1.5rem;
        border-bottom: 4px solid rgba(255,255,240);
    }

    .mailadress{
        padding-right: 2rem;
    }    
    

}