@charset "utf-8";

*{
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Klee One', cursive;
}

img{
    max-width: 100%;
    max-height: 100%;
}

a{
    text-decoration: none;
    color: #000;
}

.pc{
    display: none;
}

.wrapper{
    overflow: hidden;
}

.padding_wrapper{
    padding: 0 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.title{
    font-size: 50px;
    margin-bottom: 36px;
}

.main-visual{
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 75px;
}

.main_video{
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1;
}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 255, 255,0.5);
}

header h1{
    text-align: center;
}

.nav_pc{
    display: none;
}

/* ===================================
haamburger_menu
======================================*/
#hamburger_menu{
    position: relative;
    position: fixed;
    z-index: 100;
    top: 8px;
    right: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.span1,.span2,.span3{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 30px;
    height: 2px;
    left: 9px;
}

.span1{
    top: 12px;
}

.span2{
    top: 22px;
}

.span3{
    top: 32px;
}
/* ==================================== */

.main_title{
    position: absolute;
    left: -120px;
    bottom: 180px;
    transform: rotate(90deg);
    line-height: 1;
    color: #fff;
}

.main_title h1{
    font-size: 65px;
}

.nav_sp{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    width: 100vw;
    padding-top: 200px;
    padding-left: 50px;
    z-index: 90;
    font-size: 28px;
    transform: translateX(100%);
    transition: all 2s;
}

nav li{
    margin-bottom: 2rem;
}

#nav_sp a:hover{
    opacity: 0.2;
    border-bottom: 1px solid #000;
}

.open{
    transform: translateX(0);
}


/* =============================
about
===============================*/
.about{
    padding-bottom: 105px;
}
.profile{
    margin-bottom: 50px;
    text-align: center;
}
.profile_img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 17px;
}

.name{
    font-size: 44px;
    margin-bottom: 44px;
}
.name p:nth-child(2){
    font-size: 22px;
}

.profile_sentence{
    font-size: 20px;
}

.history{
    margin-bottom: 100px;
}

dl{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    background-image:linear-gradient(to right,#000 10px,transparent 2px),linear-gradient(to right,#000 10px,transparent 2px);
    background-size: 20px 2px;
    background-repeat: repeat-x;
}

dl:last-child{
    background-image:linear-gradient(to right,#000 10px,transparent 2px),linear-gradient(to right,#000 10px,transparent 2px);
    background-size: 20px 2px;
    background-repeat: repeat-x;
    background-position:0 top,0 bottom;
}

dd{
    width: 70%;
}


/* ===============================
favorite
==================================*/
.fav_img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.swiper-slide{
    text-align: center;
    border: 1px solid #000;
    padding: 0 39px;
    padding-top: 60px;
    padding-bottom: 23px;
}

.fav_title{
    font-size: 28px;
    margin-bottom: 27px;
}

/* ================================
skill
==================================*/
.skill{
    background-color: #7E828B;
    color: #fff;
    padding-top: 28px;
    padding-bottom: 70px;
}

.skill .title{
    margin-bottom: 0;
}

.skill_wrapper{
    border: 1px solid #fff;
    padding: 0 18px;
    padding-top: 60px;
}

.skill_img{
    width: 90px;
    height: 90px;
}

.skill_name{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    width: 280px;
}

.skill_name h3{
    padding-top: 16px;
}

.skill_name h3{
    font-size: 35px;
}

.skill_item p{
    font-size: 20px;
    line-height: 1.5;
}

.skill_item{
    margin-bottom: 58px;
}

.coding{
    margin-bottom:63px  ;
}

/* ================================
works
==================================*/
.works{
    padding-top: 90px;
}

.work{
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.work_img{
    height: 200px;
}

/* ================================
contact
==================================*/
.contact{
    background-color: #7E828B;
    color: #fff;
    padding-top: 42px;
    padding-bottom: 60px;
}


.contact_sentence{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 40px 0;
    margin-bottom: 54px;
    font-size: 18px;
    text-align: center;
}

.address{
    max-width: 500px;
    margin: 0 auto;
}

.contact dl{
    background-image: none;
    padding: 0;
}

.contact dt{
    font-size: 25px;
}
.contact dd{
    font-size: 20px;
    text-align: right;
}

/* ================================
footer
==================================*/
footer{
    height: 60px;
    text-align: center;
    padding:20px 0 ;
}

small{
    font-size: 15px;
}



/* ================================
>=768px
===================================*/
@media screen and (min-width:768px) {

    .flex{
        display: flex;
    }

    .title{
        font-size: 65px;
    }

    .nav_pc{
        display: block;
    }

    .sp{
        display: none;
    }

    #hamburger_menu,#nav_sp{
        display: none;
    }


    .header_wrapper{
        display: flex;
        justify-content: space-between ;
        max-width: 1500px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .header_wrapper h1{
        font-size: 65px;
    }


    .nav_pc{
        width: 600px;
    }

    .nav_pc ul{
        display:flex ;
        font-size: 40px ;
        padding-top: 16px;
        justify-content: space-between;
    }



    .main_title{
        left: 50%;
        bottom: 50%;
        transform: rotate(0) translate(-50%,50%);
        text-align: center;
        line-height: 1.25;
    }
    
    .main_title h1{
        font-size: 130px;
    }


    /* =============================
about
===============================*/
.profile{
    border: 1px solid #000;
    padding: 60px 60px 40px;
}

.profile_img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 17px;
}

.name{
    font-size: 70px;
    margin-bottom: 44px;
    padding-top: 90px;
    display: flex;
    justify-content: space-around;
    width: 800px;
}
.name p:nth-child(2){
    font-size: 40px;
    padding-top: 20px;
}

.profile_sentence{
    font-size: 20px;
    text-align: left;
}

.history{
    margin-bottom: 100px;
    border: 1px solid #000;
    padding: 40px 30px 40px 100px;
}

dt{
    font-size: 25px;
}

dl{
    padding:0;
    background-image: none;
    margin-bottom: 40px;
    font-size: 20px;
}

dl:last-child{
    background-image: none;
}


/* ============================
favorite
==============================*/
.fav_container{
    display: flex;
    justify-content: space-between;
}

.fav_item{
    text-align: center;
    border: 1px solid #000;
    padding: 0 20px;
    padding-top: 60px;
    padding-bottom: 23px;
    margin-right: 16px;
}

.fav_item:last-child{
    margin-right: 0;
}

.fav_item p:nth-of-type(2){
    font-size: 20px;
}

.fav_img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}


/* ================================
skill
==================================*/
.skill_wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 2fr));  
    column-gap: 30px;
}

.skill_name{
    width: 350px;
}

.skill_name h3{
    font-size: 48px;
}

/* ================================
work
==================================*/
.work_wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 2fr));
}

.work{
    width: 100%;
}

.work_img{
    height: 300px;
}

/* ================================
contact
==================================*/
.contact dt{
    font-size: 35px;
}
.contact dd{
    font-size: 30px;
}

    
}/*media screen*/
